@model IEnumerable<Api_Mvc.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}


<div>
    <table class ="table">
        <th>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaDeAlta)
                </th>
                <tbody>
                    <!--Para cada producto que esta en la coleccion producto solicito esta info
                        chequear producto.Informacion que necesito
                    -->
                        @foreach (Api_Mvc.Models.Producto producto in @Model)
                        {
                            <tr> 
                                <td>@Html.DisplayFor(modelItem => producto.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => producto.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => producto.Precio)</td>
                                <td>@Html.DisplayFor(modelItem => producto.Activo)</td>
                                <td>@Html.DisplayFor(modelItem => producto.FechaDeAlta)</td>
                            </tr>
                        }
                </tbody>
            </tr>
        </th>

    </table>
</div>
