@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Esta es una forma de mandar la informacion para la vista 
    tengo que tener en cuenta el controlador, en el metodo
    que devuelve el index view
    Ver el nombre del archivo, en este caso Home

--> 

<!--Tener en cuenta el nombre de la variable
    tratar de que no sea la misma, a c# le da igual las mayusculas y las minusculas

-->
<p>@(ViewBag.Menssage1)</p>
<p>@(ViewData["Mensaje2"])</p>
<!-- Decimales
    Si es viewData lo considera un objeto y no me recone el tipo 
 -->
<!-- -->
<!-- Decimales con ViewData, tiene que especificar el tipo-->
<p>precio: @((decimal)ViewBag.Precio1 * 2)</p>

<p>precio: @((decimal)ViewData["Precio2"]* 2)</p>

<!--Fechas-->
<p>Fecha1: @(ViewBag.Fecha1.AddDays(1))</p>
<p>Fecha2: @(((DateTime)ViewData["Fecha2"]).AddDays(1))</p>




@for(int i = 0; i < ViewBag.Contador1; i++)
{
    <li>intem @i</li>
    @if(i == 9)
    {
        <P>correo@(i)c@gmail.com</P>
    }
}
<!-- Me va a dar error porque viewData no reconoce el tipo automaticamente
    para eso necesito el int -->
@for(int i = 0; i <(int)ViewData["Contador2"]; i++)
{
    <li>intem @i</li>
    @if(i == 9)
    {
        <P>correo@(i)c@gmail.com</P>
    }
}
